@import '~styles/_import'

.btn
	height 58px
	color #000
	font-size 19px
	font-weight 700
	line-height 1
	text-align center
	display inline-block
	position: relative
	align-items center
	justify-content center
	background-color $green
	border 1px solid $green
	padding 12px 30px 13px
	cursor pointer
	transition background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s
	appearance none
	// & + &
	// 	margin-left 30px
	&.loading > .hidden
		visibility: hidden
	@media smallest
		font-size 16px

	svg path
		transition fill .3s

	&:hover
		background-color $blue
		border-color $blue
		color #ffffff

		svg path
			fill #fff
			transition fill .3s

	@media tablet
		background-color $green
		border-color $green
		color #000000
	
	&.link
		display inline-flex

.btn[disabled]
	opacity 0.5
	box-shadow none
	cursor not-allowed
	pointer-events none

.gray
	background-color $dimmedGray
	border-color $dimmedGray
	&:hover
		background-color #000000
		border-color #000000
		@media tablet
			background-color #d6d6d6
			border-color @background-color

.lightGray
	background-color #F0F0F0
	border-color #F0F0F0

	&:hover
		background-color #000000
		border-color #000000