@import '~styles/_import'

.introText
	max-width 1080px


.section
	margin-top 80px


.richBottom
	margin-top 60px
	@media mobile
		margin-top 30px
	&Disclaimer
		margin-top 24px
		margin-bottom 40px
