@import '~styles/_import'

.wrap
	reset-link()
	color #808080
	border 2px solid @color
	border-radius 24px
	height 48px
	min-width 48px
	display flex
	align-items center
	justify-content center
	transition .2s
	display inline-block
	font-size 17px
	font-weight 600
	line-height 1.12
	padding 12px 22px
	&:hover
		color #000000
		border-color  #808080
		background-color @border-color
		@media mobile
			background-color  transparent
		.fill
			fill #000000
	@media mobile
		span
			display none
		&:not(.textIcon)
			border none
			padding 0
		&.textIcon
			padding: 12px 0
			text-align: center

	&.isShort
		padding: 12px 0
		text-align: center

.icon
	display none
	@media mobile
		display block
