@import '~styles/_import'


.page
	width 100vw
	// min-height: 100vh
	min-height calc(100vh - 174px)
	display flex
	// flex-direction: column
	align-items center
	// justify-content center
	// @media desc
		// min-height calc(100vh - 580px)
	@media mobile
		min-height unset
		padding-top 90px
		padding-bottom 30px

.row
	height 100%

.code
	font-size 128px
	display block

.container
	margin: auto

	.btn
		margin-top 60px
		height unset
		padding-top 19px
		padding-bottom 19px

.text
	margin-top 20px
	margin-bottom 20px
