@import '~styles/_import'

.text
	font-size 24px
	line-height 38px
	font-family $fontFamily
	color #686868
	font-weight 600
	@media tablet
		font-size 20px
		line-height 30px

.advantages
	margin-bottom 110px

.actual
	margin-bottom 48px
	@media mobile
		margin-bottom 30px

.find
	margin-top 48px
	margin-bottom 65px
	@media mobile
		margin-top 30px

.lists
	margin-top 0 !important

.duties
	margin-bottom 64px
	margin-right: 0 !important;
	margin-left: 0 !important;

.demands
	margin-bottom 40px
	margin-right: 0 !important;
	margin-left: 0 !important;

.respond-button
	margin-bottom 110px

.separator
	height 3px
	margin-bottom 40px
	background-color black

.info
	margin-bottom 110px

.atmosphere
	margin-bottom 60px

.about-atmosphere
	margin-bottom 60px

.chips
	list-style none
	margin 0
	padding 0

	display flex
	flex-flow row nowrap

	overflow auto

	padding-bottom 20px
	margin-bottom -20px

	scrollbar-width none
	-ms-overflow-style -ms-autohiding-scrollbar

	&::-webkit-scrollbar {
		display none
		-webkit-appearance none
		width 0
		height 0
	}

	@media mobile
		margin-left -20px
		margin-right -20px

	li
		white-space nowrap

		@media mobile
			&:first-of-type
				margin-left 20px
			&:last-of-type
				&:after
					content ''
					display inline-block
					width 20px

		& + li
			margin-left 10px

.goods
	display flex
	justify-content space-between
	align-items center
	margin-bottom 60px
	margin-top 0 !important
	&__item
		display flex
		justify-content flex-start
		align-items center
		@media tablet
			margin-bottom 40px
	&__icon
		width 64px
		height 64px
	&__label
		margin-left 20px
		color black
		font-family $fontFamily
		font-size 24px
		font-weight 600
		letter-spacing 0
		line-height 34px
		@media tablet
			font-size 20px
			line-height 30px

.greenText
	color #178239