@import '~styles/_import'

.wrap
	border-top 3px solid #000
	padding-top 20px
	padding-bottom 40px
	font-size 19px
	line-height 30px
	color #686868
	// background-image url('/static/emojis/palez.png')
	background-repeat no-repeat
	background-size auto 30px
	background-position left bottom
	@media mobile
		padding-top: 18px
		padding-bottom 48px
