@import '~styles/_import'

.text
	font-size 24px
	font-weight 700
	line-height 32px
	color #000000
	padding-bottom 15px
	border-bottom 3px solid #000000
	margin-bottom 60px
	@media tablet
		margin-bottom 40px
		font-size 19px
		line-height 28px
	@media mobile
		line-height 26px
		margin-bottom 45px
		padding-bottom 15px

.noGutter
	margin-bottom 0

.center
	text-align center

.gray
	border-bottom-color #D6D6D6

.red
	color #DE474B
	border-bottom-color #DE474B