@import '~styles/_import'

.wrap
	@media tablet
		width 100vw
		overflow-x hidden

.divider
	height 3px
	margin-top 50px
	background-color #D6D6D6
	@media screen and (max-width: 1200px)
		margin-top 30px
	@media screen and (max-width: 990px)
		margin-top 20px
	@media screen and (max-width: 850px)
		margin-top 10px
	@media screen and (max-width: 790px)
		margin-top 0px
	@media mobile
		margin-top 30px

.bottom
	margin-top 40px
	@media screen and (max-width: 1200px)
		margin-top 20px
	@media mobile
		margin-top 30px
	button
		margin-top 40px
		@media screen and (max-width: 1200px)
			margin-top 20px
		@media mobile
			margin-top 30px
