@import '~styles/_import'

.sub
	max-width 860px
	&_en
		max-width 680px

.title
	max-width 800px

.bg
	background-image linear-gradient(147deg, rgba(255, 255, 255, 0) 50%, rgba(183, 111, 255, 0.3) 75%, rgba(252, 103, 250, 0.85) 100%)
	@media mobile
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(183, 111, 255, 0.3) 72%, #FC67FA 100%)
