@import '~styles/_import'

.filter 
	background-color $white
	padding 19px 30px 17px

	border 1px solid $gray
	border-radius 8px

	font-size 20px
	font-weight 600
	line-height 20px
	color $gray

	display flex
	flex-direction row
	justify-content center
	align-items center
	text-align center
	position relative

	cursor pointer
	transition background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s
	appearance none

	&:hover
		background-color $blue
		border-color $blue
		color $white

	&_active
		background-color $blue 
		border-color $blue 
		color $white

		svg path
			fill $white
			transition fill .3s