@import '~styles/_import'

.list
	display flex
	flex-wrap wrap
	align-items flex-end
	justify-content space-between
	// margin-top 80px
	// @media tablet
	// 	margin-top 40px

.li
	margin-bottom 0
	&:nth-of-type(n + 4)
		margin-top 70px
	@media mobile
		&:nth-of-type(n + 2)
			margin-top 40px
