@import '~styles/_import'

.sub
	max-width 960px

.bg
	background-image linear-gradient(147deg, rgba(255, 255, 255, 0) 50%, rgba(255, 222, 97, 0.3) 70%, rgba(255, 136, 0, 0.85) 100%)
	@media mobile
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(255, 222, 97, 0.3) 72%, #FF8800 100%)
