@import '~styles/_import'

.sub
	max-width 840px

.bg
	// background-image url('/static/gradient/razrabotka.svg')
	background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(46, 135, 181, 0.3) 71%, #2284CE 100%)
	@media mobile
		// background-image url('/static/gradient/razrabotka-mobile.svg')
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(46, 135, 181, 0.3) 72%, #2284CE 99%)
