$fontFamily = Gilroy
$fontColor = #000
$main = #25bcca
$mainDark = darken($main, 21%)
$red = #ee2020
$green = #6ae695
$gray = #686868
$blue = #0e43fe
$bg = #fff
$dimmedGray = #d6d6d6
$lightGray = #cccccc
$white = #ffffff
