@import '_vars.styl'

for num in 400 500 600 700
	@font-face
		font-family $fontFamily
		font-style normal
		font-weight num
		src s("url('../public/static/fonts/%s%s.woff2')", $fontFamily, num) format('woff2'), s("url('../public/static/fonts/%s%s.woff')", $fontFamily, num) format('woff')

for num in 300 400 500 700
	@font-face
		font-family PTRootUI
		font-style normal
		font-weight num
		src s("url('../public/static/fonts/%s%s.woff2')", PTRootUI, num) format('woff2'), s("url('../public/static/fonts/%s%s.woff')", PTRootUI, num) format('woff')

// for num in 300 400 700
// 	@font-face
// 		font-family $fontFamily
// 		font-style italic
// 		font-weight num
// 		src s("url('../public/static/fonts/%s%sItalic.woff2')", $fontFamily, num) format('woff2'), s("url('../public/static/fonts/%s%sItalic.woff')", $fontFamily, num) format('woff')

// for num in 100 200 300 400 500 600 700 800 900
// 	@font-face
// 		font-family $font2
// 		font-style normal
// 		font-weight num
// 		src s("url('../public/static/fonts/%s%s.woff2')", $font2, num) format('woff2'), s("url('../public/static/fonts/%s%s.woff')", $font2, num) format('woff')
// 	@font-face
// 		font-family $font2
// 		font-style italic
// 		font-weight num
// 		src s("url('../public/static/fonts/%s%sItalic.woff2')", $font2, num) format('woff2'), s("url('../public/static/fonts/%s%sItalic.woff')", $font2, num) format('woff')
