@import '~styles/_import'

.bg
	transition background-image 1.2s ease-in-out
	background-size contain
	background-repeat no-repeat
	background-position top right
	margin-bottom 60px
	@media screen and (max-width: 1400px)
		background-size cover

.create
	background-image linear-gradient(147deg, rgba(255, 255, 255, 0) 50%, rgba(46, 135, 181, 0.3) 70%, #2284CE 100%)
	@media mobile
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(46, 135, 181, 0.3) 72%, #2284CE 100%)

.design
	background-image linear-gradient(147deg, rgba(255, 255, 255, 0) 50%, rgba(183, 111, 255, 0.3) 70%, rgba(252, 103, 250, 0.85) 100%, rgba(252, 103, 250, 0.85) 100%)
	@media mobile
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(183, 111, 255, 0.3) 72%, #FC67FA 100%)

.support
	background-image linear-gradient(147deg, rgba(255, 255, 255, 0) 50%, rgba(56, 239, 125, 0.3) 70%, rgba(17, 153, 142, 0.8) 100%)
	@media mobile
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(56, 239, 125, 0.3) 72%, #11998E 100%)

.marketing
	background-image linear-gradient(147deg, rgba(255, 255, 255, 0) 50%, rgba(255, 105, 0, 0.3) 70%, #FF0000 100%)
	@media mobile
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(255, 105, 0, 0.3) 72%, #FF0000 100%)

.research
	background-image linear-gradient(147deg, rgba(255, 255, 255, 0) 50%, rgba(255, 222, 97, 0.3) 70%, rgba(255, 136, 0, 0.85) 100%)
	@media mobile
		background-image linear-gradient(104deg, rgba(255, 255, 255, 0) 30%, rgba(255, 222, 97, 0.3) 72%, #FF8800 100%)
