@import '~styles/_import'

.wrap
	reset-link()
	display inline-flex
	align-items center
	position relative
	&:hover
		.tooltip
			opacity 1
.img
	max-width 27px
	max-height 54px
	margin-right 15px
	@media tablet
		max-width: 21px


.text
	font-weight 500
	font-size 13px
	line-height 25px
	display block
	margin-bottom 1px
	@media mobile
		display none

